body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 0 30px;
  font-family: $bolt-font;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

}

// @media (min-width: $desktop-width) {
//   body {
//     padding: 0;
//   }

// .filter__container .filter__wrapper--color {
//     margin: 0;
//   }
// // .filter__container .filter__wrapper{
// //     padding: 50px;
// //   }
// .filter__form .wrap-wrap-wrap.filter__type {
//   max-width: 1050px;
//   margin: 0 auto 66px auto;
// }
// .filter__form .wrap-wrap-wrap {
//   max-width: 1050px;
//   margin: 0 auto;
// }
// }



