.contacts {
  position: relative;
}

.contacts::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 100%;
    content: "";
    height: 17px;
    background-image: url("../img/zigzag-line-inner-tablet.svg");
    background-repeat: repeat-x;
    top: -85px;
    left: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    height: 23px;
    top: -95px;
    left: 0;
    background-image: url("../img/zigzag-line-inner.svg");
  }
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content;
    margin-bottom: 103px;
  }
}

.contacts__wrapper-text .contacts__title {
  margin-bottom: 28px;


  @media (min-width: $tablet-width) {
    margin: 0 0 49px 20px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__wrapper-text {
  padding: 0 30px;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    margin-bottom: 0;
    padding: 0;
    padding-left: 173px;
    padding-right: 30px;
  }
}

.contacts__wrapper-text::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 81px;
    top: -25px;
    right: 57px;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    left: 63px;
    top: 61px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 31px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-left: 20px;
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: column;
    gap: 32px;
  }
}

.contacts__list .contacts__item {
  display: flex;
  gap: 33px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    max-width: 305px;
    font-size: 17px;
    gap: 24px;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
  }
}

.contacts__link {
  font-style: normal;
}

.contacts__item .contacts__link--email {
  position: relative;

  &:hover {
    color: $green;
  }
}

.contacts__link--email::before {
  position: absolute;
  content: "";
  width: 167px;
  height: 1px;
  background-color: $border-green;
  top: 27px;

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 35px;
  }
}

.contacts__map {
  position: relative;
  background-image: url("../img/map-mobile-1.png");
  margin: 0 0 41px;
  width: 100%;
  height: 454px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map-tablet-1-table.png");
    height: 457px;
    margin: 0 0 54px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/map-desktop-1.png");
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.contacts__map-img {
  position: absolute;
  top: 147px;
  left: 138px;

  @media (min-width: $tablet-width) {
    top: 139px;
    left: 362px;
  }

  @media (min-width: $desktop-width) {
    top: 146px;
    left: 239px;
  }
}

.contacts__map iframe {
  border: none;
  width: 100%;
  min-height: 457px;
  max-height: 457px;
}

.contacts__wrapper .contacts__button {
  margin: 0 auto 39px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 20px;
    background-color: transparent;
    width: 230px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 17px;
    margin-left: 175px;
  }
}
