.product-week {
  position: relative;
}

.product-week__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 73px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px;
    margin-bottom: 123px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1px repeat(2, 1fr);
    padding: 0 0 0 175px;
    margin-bottom: 166px;
  }
}

.product-week__wrapper::after {
  position: absolute;
  content: "";
  background-image: url("../img/zigzag-line-mobile.svg");
  background-repeat: no-repeat;
  width: 320px;
  height: 6px;
  bottom: -41px;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 772px;
    height: 17px;
    left: 0;
    bottom: -67px;
    background-image: url("../img/zigzag-line-inner-tablet.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 23px;
    bottom: -98px;
    left: 0;
    background-image: url("../img/zigzag-line-inner.svg");
    background-repeat: no-repeat;
  }
}

.product-week__wrapper .product-week__title {
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    margin: 0 0 39px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 67px;
  }
}

.product-week__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: $green;
  margin: 0 0 17px;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: 100px;
    grid-column: 3/4;
    margin: 3px 15px 0 0;
    justify-self: end;

  }

  @media (min-width: $desktop-width) {
    position: absolute;
    line-height: 17px;
    left: -726px;
    top: 72px;
  }
}

.product-week__info {
  grid-column: 1/2;
  font-family: $main-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $grey;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    margin-bottom: 17px;
  }
}

.product-week__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
  }
}

.product-week__item {
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-size: 15px;
  line-height: 20px;
  color: $grey;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  padding: 5px 0;
}

.product-week__text--property {
  width: 90px;
  margin-right: 7px;
  box-shadow: none;
}

.product-week__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-row: 4/5;
    align-self: end;
  }
}

.product-week__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $grey;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 35px;
  }
}

.product-week__img-wrapper {
  grid-column: 2/4;
  grid-row: 2/5;
  margin-bottom: 22px;
  justify-self: end;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.product-week__img {
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-week__price-wrapper .product-week__button {
    min-width: 292px;
    background-color: transparent;
    padding: 12px 0;
  }
}
