.product-week {
  position: relative;
}

.product-week__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 73px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1px repeat(2, 1fr);
    padding-left: 175px;
    margin-bottom: 166px;
  }
}

.product-week__wrapper .product-week__title {
  grid-column: 1/4;

  @media (min-width: $tablet-width) {
    margin: 0 0 37px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 67px;
  }
}

.product-week__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: $green;
  margin: 0 0 17px;

  @media (min-width: $tablet-width) {
    text-align: center;
    max-width: 100px;
    grid-column: 6/7;
    margin: 0 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    line-height: 17px;
    left: 34px;
    top: 73px;
  }
}

.product-week__info {
  grid-column: 1/2;
  font-family: $main-font;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $grey;
  margin-bottom: 28px;
  max-width: 283px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    align-self: end;
    margin-bottom: 20px;
  }
}

.product-week__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  grid-row: 3/4;
}

.product-week__item {
  display: flex;
  align-items: center;
  font-family: $main-font;
  font-size: 15px;
  line-height: 20px;
  color: $grey;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  max-width: 292px;
  padding: 9px 0;
}

.product-week__text--property {
  width: 90px;
  margin-right: 7px;
  box-shadow: none;
}

.product-week__price-wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-row: 4/5;
  }
}

.product-week__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: $grey;
  margin: 0 0 25px 0;
}

.product-week__image {
  grid-column: 2/7;
  grid-row: 2/5;
  margin-bottom: 25px;
  justify-self: end;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../image/triple-set-tablet-1");
    background-size: $tablet-width auto;
  }

  @media (min-resolution: 3dppx) {
    background-image: url("../image/triple-set-desktop 1");
    background-size: $desktop-width auto;
  }
}

.product-week__img {
  display: block;
}

@media (min-width: $tablet-width) {
  .product-week__button {
    min-width: 292px;
    background-color: transparent;
    padding: 12px 0;
  }
}
