.reviews {
  @media (min-width: $tablet-width) {
    background-image: url("../img/review.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 -49px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 0 96px 175px;
    background-size: auto;
    background-position: 0 32px;
  }
}

.reviews__wrapper {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 40px 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.reviews__wrapper .reviews__title {
  justify-self: start;
  align-self: center;
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.reviews__item {
  font-family: $main-font;
  font-size: 15px;
  line-height: 30px;
  color: $grey;
  min-width: 260px;
  margin: 0 0 31px 0;

  @media (min-width: $tablet-width) {
    grid-column: -3/-1;
    max-width: 600px;
  }

  @media (min-width: $desktop-width) {
    max-width: 813px;
    font-size: 17px;
    margin: 0 0 35px 0;
  }
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
}

.reviews__email {
  font-family: $main-font;
  font-size: 17px;
  line-height: 24px;
}

.reviews__button__wrapper {
  display: flex;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 18px;
    margin-bottom: 38px;
  }
}

.reviews__button {
  width: 130px;
  padding: 0;
  min-height: 52px;
  background-image: url("../img/img-icon/icon-huge-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  border: $whisper 1px solid;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 50px;
  }
}

.reviews__button--next {
  transform: scaleX(-1);
  border-left: none;
}

.reviews__autor {
  justify-self: start;
  grid-column: -3/-2;
  padding-top: 11px;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper .reviews__button-form {
    justify-self: end;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 52px;
    background-color: transparent;
    width: 175px;
  }
}
