.reviews {
  @media (min-width: $tablet-width) {
    background-image: url("../img/review.png");
    background-repeat: no-repeat;
    padding-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 0 96px 175px;
    background-size: auto;
    background-position: 0 32px;
  }
}

.reviews__wrapper {
  padding: 0 30px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr 105px;
    padding: 81px 50px;
    margin-bottom: 113px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.reviews__wrapper .reviews__title {
  justify-self: start;
  align-self: center;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin: 37px 0;
  }
}

.reviews__item {
  font-family: $main-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: $grey;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    grid-column: -3/-1;

    font-size: 17px;
    margin: 0;
    align-self: flex-end;
    padding-top: 41px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    max-width: 813px;
    margin: 0;
    align-self: start;
    padding: 0;
  }
}


.reviews__item .reviews__item-text {
  min-width: 260px;
  max-width: 645px;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}


@media (min-width: $tablet-width) {
  .reviews__item .reviews__item-text br {
    display: none;
  }
}

.reviews__item-text span {
  display: inline-block;
  width: 4px;
}

.reviews__name {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__email {
  font-family: $main-font;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.reviews__button__wrapper {
  display: flex;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    align-self: end;
    justify-content: end;
    gap: 35px;
    margin: 0 24px 4px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 9px;
    margin-right: 22px;
  }
}

.reviews__button {
  width: 130px;
  padding: 0;
  min-height: 52px;
  background-image: url("../img/icon-huge-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  border: $whisper 1px solid;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 50px;
  }
}

.reviews__button--next {
  transform: scaleX(-1);
  border-left: none;
}

.reviews__autor {
  padding-top: 11px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    align-self: end;
    grid-column: -3/-2;
    padding: 0;
    margin: 0;
  }
}

.reviews__wrapper .reviews__button-form {
  margin-bottom: 87px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 20px;
    justify-self: end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 52px;
    background-color: transparent;
    width: 175px;
    margin: 0 4px 0 0;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin: 0;
  }
}
