.logo {
  margin: 0 auto;
  min-height: 35px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.logo__icon {
  display: none;
  fill: $black;
  opacity: 1;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    fill: $green;
  }

  &:disabled {
    opacity: 0.3;
  }
}
