@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
}

.main-nav::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    display: block;
    width: 100%;
    height: 24px;
    max-height: 34px;
    padding-top: 2.96%;
    background-image: url("../img/zigzag-tablet.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    bottom: -18px;
    height: 37px;
    max-height: 37px;
    padding-top: 0;
    background-image: url("../img/zigzag-index-desktop.svg");
    background-repeat: repeat-x;
    background-position: 50% 50%;
    background-size: 1150px 100%;
  }
}

.main-nav__navigation {
  max-width: 1050px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.main-nav__catalog-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.main-nav__catalog-item {
  position: relative;
  display: block;
  background-color: $green;
  box-sizing: border-box;
  z-index: 1;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 100%;
  }
}

.main-nav__catalog-item--second-color {
  background-color: $dark-green;
}

.main-nav__catalog-link {
  display: block;
  color: $white;
  padding: 24px 60px 31px 30px;

  @media (min-width: $tablet-width) {
    min-height: 119px;
    padding: 25px 0 15px 36px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__catalog-link-img {
  position: absolute;
  top: 52%;
  right: 35px;
  transform: translate(0, -50%);
}

.main-nav__catalog-link-img--second {
  top: 49%;
  right: 28px;
}

.main-nav__catalog-link-text {
  display: block;
  max-width: 130px;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}
