.main-nav__catalog-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
.main-nav__catalog-item {
  background-color: $green;
  background-image: url("/source/image/img-icon/icon-lamp-interior.svg");
  background-repeat: no-repeat;
  background-position: bottom 50% right 30px;
  margin:  0 -30px;
  cursor: pointer;
}

.main-nav__catalog-item--second-color {
  background-color: $dark-green;
  background-image: url("/source/image/img-icon/icon-lego.svg");

}

.main-nav__catalog-link {
  display: block;
  color: $white;
  margin: 24px 150px 31px 30px;;
}
