.main-nav {
  .main-nav__catalog-item {
    background-color:#63D1BB;
  }
  .main-nav__catalog-item--second-color {
    background-color: #56C3B2;
  }
  .main-nav__catalog-link {
    color: #ffffff;
  }
}
