.main-nav__catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0 -30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
.main-nav__catalog-item {
  background-color: $green;
}

.main-nav__catalog-item--second-color {
  background-color: $dark-green;
}

.main-nav__catalog-link {
  color: $white;
}
