.main-container--title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 300px;
  background: url("../img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  margin: 0 -30px;
  background-color: $background-index;

  @media (min-width: $tablet-width) {
    min-height: 627px;
    margin: 0 -49px;
  }

  @media (min-width: $desktop-width) {
    background-position: 50% 1%;
    align-items: normal;
    background-size: 1150px 746px;
  }
}
