
.main-title {
  font-size: 27px;
  line-height: 30px;
}

.main-title--index {
  display: flex;
  align-items: center;
  background-image: url("../image/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  margin: 0 -30px;
  min-height: 373px;
  text-align: center;
}
