.main-catalog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-smoke;
  min-height: 184px;
  text-align: center;
  margin: 0 -30px;

  @media (min-width: $tablet-width) {
    margin: 0 -50px 79px;
    min-height: 226px;
  }
}
