.main-catalog__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 184px;
  text-align: center;
  margin: 0 -30px;
}

.main-catalog__title-wrapper {
  margin: 0 -50px;
  min-height: 226px;
  background-color: $white-smoke;
}
