.production-process__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 34px 33px;
  margin-bottom: 58px;
  outline: 1px solid $whisper;
}

.production-process__text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $grey;
  margin-bottom: 41px;
}

.production-process__title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;

  @media (min-width: $tablet-width) {
    order: 0;
  }
}

.production-process__video {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.production-process__title-wrapper::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 76px;
  background-image: url("../image/img-icon/icon-play-button.svg");
  background-repeat: no-repeat;
  top: 120px;
  left: 50px;
  z-index: 1;
}

.production-process__wrapper .production-process__button {
  width: 192px;
}
