.product-item {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  margin-bottom: 30px;
  outline: solid 1px $whisper;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 6px 10px 0 $black-shadow;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    min-width: auto;
    padding: 0;
    column-gap: 61px;
  }
}

.product-item:last-child {
  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.product-item__link {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding: 0 28px;
  }
}

.product-item__icon-cart {
  fill: $black-opacity;

  &:hover {
    fill: $green;
  }

  &:disabled {
    fill-opacity: 0.3;
  }
}

.product-item__link-img {
  grid-row: 1/5;
}

.product-item__img {
  width: 100%;
  display: block;
  border: none;
  margin-bottom: 27px;
  font-size: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    height: 462px;
    margin-bottom: 27px;
    background-color: $img-background;
  }
}

.product-item__item-wrapper {
  display: flex;
  position: relative;
  gap: 108px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    grid-row: 4/5;
  }

  @media (min-width: $desktop-width) {
    padding: 0 28px;
  }
}

.product-item__item-wrapper::before {
  position: absolute;
  content: "";
  width: 205px;
  height: 1px;
  background-color: $whisper;
  top: -20px;

  @media (min-width: $desktop-width) {
    width: 256px;
  }
}

.product-item__name {
  font-size: 17px;
  line-height: 1.41;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    max-width: 230px;
    margin-bottom: 6px;
  }
}

.product-item__name--two-strings {
  max-width: 240px;
  margin-bottom: 9px;
}

.product-item__description {
  font-family: $main-font;
  font-weight: 400;
  font-size: 13px;
  line-height: 2.3;
  margin-bottom: 48px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 0 28px;
    margin-bottom: 64px;
  }
}

.product-item__description--two-string {
  margin-bottom: 42px;

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
  }
}

.product-item__price {
  font-size: 15px;
  line-height: 1.6;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 0.7;
  }
}
