.product-item__name {
font-size: 17px;
line-height: 24px;
}
.product-item__description {
  font-family: "Open-sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}
.product-item__price {
  font-size: 15px;
  line-height: 24px;
}
