.filter__title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: $dark-green;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.filter__title::before {
  content: "";
  background-color: $border-green;
  flex: 1;
  height: 1px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter__title--second {
  margin: 0;
  min-width: 55px;
  justify-content: flex-end;
}

.filter__inner {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 152px;
  }
}

.filter__wrapper--name {
  @media (min-width: $tablet-width) {
    align-self: stretch;
    padding: 66px 50px 50px;
    column-gap: 126px;
  }
}

.filter__wrapper--column {
  gap: 34px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.filter__type {
  margin-bottom: 43px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.filter__label {
  font-size: 17px;
  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 19px;
  }
}

.filter__list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (min-width: $tablet-width) {
    gap: 56px;
    column-gap: 86px;
  }
}

.filter__list--name {
  gap: 33px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    gap: 41px;
  }
}

.filter__list--color {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}


.filter__input-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 42px;
  }
}

.filter__input-wrapper--contacts {
  gap: 0;
  width: 100%;
}

.filter__input-wrapper--textarea {
  gap: 0;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}

.filter__input {
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid $black;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px 35px 15px 0;

  &:hover {
    border-bottom: 2px solid $green;
  }

  @media (min-width: $tablet-width) {
    padding: 0 35px 15px 15px;
    width: 100%;
  }
}

.filter__input[type="text"] {
  font-family: $main-font;
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  color: $grey;
}


.filter__input-wrapper .filter__input::placeholder {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.filter__contacts {
  flex-direction: column;
}

.filter__area {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  color: $black-opacity;
  height: 142px;
  box-shadow: inset 0 0 0 2px $black;
  padding: 17px;
  margin-bottom: 17px;
  resize: none;
  border: 0;

  &:hover,
  :active,
  :focus {
    box-shadow: inset 0 0 0 2px $green;
  }


  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    margin-left: 108px;
    min-height: 142px;
  }
}

.filter__text-necessarily {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.filter__control {
  position: relative;
  display: block;
  padding-left: 60px;
}

.filter__control--checkbox-label {
  @media (min-width: $tablet-width) {
    padding-left: 55px;
  }
}

.filter__mark {
  position: absolute;
  left: 0;
  top: -10px;
  width: 38px;
  height: 38px;
  border: 2px solid #242424;

  &:hover {
    border: 2px solid $green;
  }

  &:disabled {
    border: 2px solid $grey;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    top: -18px;
    left: -18px;
  }
}

.filter__mark--checkbox {
  @media (min-width: $tablet-width) {
    top: -17px;
    left: -27px;
  }
}

.filter__input[type="checkbox"]:checked + .filter__mark::before,
.filter__input[type="checkbox"]:checked + .filter__mark::after {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 23px;
  height: 16px;
  background-image: url("../img/img-icon/icon-tick.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    top: 14px;
    right: 9px;
  }
}

.filter__input[type="radio"] + .filter__mark {
  border-radius: 50%;
}

.filter__input[type="radio"]:checked + .filter__mark::before {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 18px;
  height: 18px;
  background-color: $green;
  border-radius: 50%;
  content: "";
}

.filter__wrapper--color {
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
  }
}

.filter__input--phone {
  background-image: url("../img/img-icon/icon-phone.svg");
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 118px;
  }
}

.filter__input--e-mail {
  background-image: url("../img/img-icon/icon-mail.svg");
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 94px;
  }
}

.filter__input--last-type {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.filter__text-button-wrapper {
  margin-bottom: 55px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
  }
}
