.filter__title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: $dark-green;
  margin: 0 0 35px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    padding-left: 0;
  }
}

.filter__title--color {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
    padding-top: 24px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    padding-left: 0;
  }
}

.filter__title--full-name {
  margin-bottom: 27px;
}

.filter__title-area {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.filter__title::before {
  content: "";
  background-color: $border-green;
  flex: 1;
  height: 1px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter__title--second {
  margin: 0;
  min-width: 55px;
  justify-content: flex-end;
}

.filter__title--second-email {
  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.filter__inner {
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 44px 50px 44px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    min-height: 228px;
    padding: 46px 50px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
}

.filter__inner--button {
  min-height: auto;
}

.filter__wrapper {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 152px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 96px;
  }
}

.filter__wrapper--name {
  @media (min-width: $tablet-width) {
    align-self: stretch;
    padding: 66px 50px 50px;
    column-gap: 126px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 75px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.filter__wrapper--column {
  gap: 34px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 5px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.filter__item {
  padding: 3px 0;

  @media (min-width: $tablet-width) {
    padding: 21px 0;
  }
}

.filter__type-wrapper {
  max-width: 1150px;
  margin: 0 auto;
}

.filter__type {
  margin-bottom: 35px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    padding: 0 50px;
  }
}

.filter__label {
  font-size: 17px;
  line-height: 18px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 19px;
  }
}

.filter__list {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: $tablet-width) {
    gap: 17px;
    column-gap: 86px;
  }
}

.filter__list.filter__list--radio {
  gap: 18px;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 16px;
  }
}

.filter__list--name {
  gap: 23px;

  @media (min-width: $tablet-width) {
    width: 100%;
    gap: 39px;
  }

  @media (min-width: $desktop-width) {
    gap: 39px;
    padding-right: 175px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    padding-right: 0;
  }
}

.filter__list--color {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 154px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 99px;
  }
}


.filter__input-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 29px;
  }
}

.filter__input-wrapper--contacts {
  position: relative;
  gap: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.filter__input-wrapper--textarea {
  gap: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 56px 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.filter__input {
  border: none;
  box-sizing: border-box;
  border-bottom: 2px solid $black;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  padding: 8px 35px 15px 0;

  &:hover {
    border-bottom: 2px solid $green;
  }

  @media (min-width: $tablet-width) {
    padding: 0 35px 9px 15px;
    width: 100%;
  }
}

.filter__input[type="text"] {
  font-family: $main-font;
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  color: $grey;
}

.filter__input-wrapper .filter__input::placeholder {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.filter__contacts {
  flex-direction: column;
}

.filter__area {
  font-family: $main-font;
  font-size: 17px;
  line-height: 18px;
  color: $black-opacity;
  height: 109px;
  box-shadow: inset 0 0 0 2px $black;
  padding: 17px;
  margin-bottom: 17px;
  resize: none;
  border: 0;

  &:hover,
  :active,
  :focus {
    box-shadow: inset 0 0 0 2px $green;
  }


  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    margin-left: 129px;
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 77px;
    max-width: 667px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    width: 100%;
    max-width: none;
  }
}

.filter__text-necessarily {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $grey;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}

.filter__control {
  position: relative;
  display: block;
  padding-left: 60px;
}

.filter__control--checkbox-label {
  @media (min-width: $tablet-width) {
    padding-left: 55px;
  }
}

.filter__mark {
  position: absolute;
  left: 0;
  top: -12px;
  width: 36px;
  height: 36px;
  border: 2px solid #242424;

  &:hover {
    border: 2px solid $green;
  }

  &:disabled {
    border: 2px solid $grey;
  }

  @media (min-width: $tablet-width) {
    width: 48px;
    height: 48px;
    top: -18px;
    left: -18px;
  }
}

.filter__mark--radio {
  top: -6px;

  @media (min-width: $tablet-width) {
    top: -16px;
  }
}

.filter__mark--radio-two-one-string {
  top: -16px;
}

.filter__mark--checkbox {
  @media (min-width: $tablet-width) {
    top: -17px;
    left: -27px;
  }
}

.filter__input[type="checkbox"]:checked + .filter__mark::before,
.filter__input[type="checkbox"]:checked + .filter__mark::after {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  content: "";

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    top: 14px;
    right: 9px;
  }
}

.filter__input[type="radio"] + .filter__mark {
  border-radius: 50%;
}

.filter__input[type="radio"]:checked + .filter__mark::before {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
  background-color: $green;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 15px;
  }
}

.filter__wrapper--color {
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: $white-smoke;
  }
}

.filter__input--phone {
  width: 100%;
  padding: 19px 35px 15px 0;

  @media (min-width: $tablet-width) {
    margin-left: 111px;
    padding-top: 0;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin-left: 58px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    max-width: none;
  }
}

.filter__input-icon {
  position: absolute;
  fill: $black-opacity;
  right: 8px;
  bottom: 17px;

  @media (min-width: $desktop-width) {
    right: 181px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    right: 8px;
  }
}

.filter__input:hover + .filter__input-icon {
  fill: $green;
}

.filter__input--e-mail {
  background-image: url("../img/img-icon/icon-mail.svg");
  width: 100%;
  padding: 12px 35px 15px 0;

  @media (min-width: $tablet-width) {
    margin-left: 94px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 59px;
    padding-left: 18px;
    max-width: 700px;
  }

  @media (min-width: calc($desktop-width + 2px)) {
    max-width: none;
  }
}

.filter__input--last-type {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.filter__text-button-wrapper {
  margin-bottom: 55px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    padding-top: 34px;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    gap: 171px;
  }
}

.filter__text-button-wrapper .filter__button {
  font-size: 17px;
  padding: 14px 0;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}
