.form-order__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 177px;
  background-color: $white-smoke;
  margin: 0 -30px;

  @media (min-width: $tablet-width) {
    margin: 0 -50px;
  }
}

.form-order__label-wrapper {
  display: flex;
}

.form-order__input-wrapper {
  width: 320px;
  border: 1px solid $whisper;
}

.form-order__text {
  font-family: $main-font;
  font-weight: 400px;
  font-size: 13px;
  line-height: 24px;
  color: $grey;
}

.modal__wrapper .form-order__button {
  background-color: $dark-green;
  color: $white;
  border: none;
}
