.modal__title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
}

.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 33px 30px 20px;
  background-color: $white;
  box-shadow: 0 5px 10px 0 $black-shadow;
  outline: 1px solid #c6c6c6;
  height: 336px;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 5;

  @media (min-width: $tablet-width) {
    width: 566px;
    height: 336px;
    padding: 37px 108px 46px;
  }
}

.modal--open-form {
  display: block;
}
