.modal__title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 30px 20px;
  margin: 0 -30px;

  @media (min-width: $tablet-width) {
    width: 566px;
    margin: 0 auto;
  }
}
