.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $white-opacity;
  z-index: 4;
  box-sizing: border-box;
}

.modal--open-form {
  display: block;
}

.modal__title {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  text-transform: uppercase;
}

.modal__wrapper {
  top: 50%;
  transform: translate(0, 50%);
  padding: 33px 30px 20px;
  background-color: $white;
  box-shadow: 0 5px 10px 0 $black-shadow;
  outline: 1px solid #c6c6c6;
  height: 336px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 566px;
    height: 336px;
    padding: 37px 92px 46px;
  }
}
