.header {
  display: flex;
  position: relative;
  justify-content: center;
}

.header__nav {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  background-color: $white;
  top: 82px;
  left: -30px;
  right: -30px;
}

@media (min-width: $tablet-width) {
  .header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    max-height: 89px;
    max-width: 1150px;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 41px;
  }
}

.header__list--search-cart {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    order: -1;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    order: 0;
  }
}

.header__list--spipping {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.header__list--new-sell {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .header__list--catalog-modal {
    margin-right: auto;
  }
}

.header__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding: 27px 42px 26px 76px;
  border-top: 1px solid $whisper;
  background-repeat: no-repeat;
  background-position: 30px 50%;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 0;
    border: none;
  }
}

.header__link {
  position: relative;
}

.header__item--search {
  @media (min-width: $tablet-width) {
    padding: 28px 0 26px 26px;
  }
}



.header__item--cart {
  @media (min-width: $tablet-width) {
    padding: 28px 0 26px 90px;
  }
}

.header__icon-svg {
  position: absolute;
  top: 4px;
  left: -42px;
  fill: $black-opacity;

  &:hover {
    fill: $green;
  }

  &:disabled {
    fill-opacity: 0.3;
  }
}
.header__icon-svg--cart {
  width: 21px;
  height: 18px;
}

.header__item--cart:hover .header__icon-svg--cart {
  fill: $green;
}

.header__item--spipping-text {
  font-family: $main-font;

  @media (min-width: $tablet-width) {
    padding: 28px 0;
  }
}

@media (min-width: $tablet-width) {
  .header__span {
    display: none;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  padding: 22px 0;
  // border-bottom: 1px solid $whisper;
  margin: 0 -30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: auto;
    z-index: 2;
    left: 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-resolution: 2dppx) {
    background-image: url("image/mishka-logo-tablet.svg");
    background-size: $tablet-width auto;
  }

  @media (min-resolution: 3dppx) {
    background-image: url("image/mishka-logo-desktop");
    background-size: $desktop-width auto;
  }
}

.header__logo-svg {
  display: block;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }
  @media (min-width: $desktop-width) {
    width: 136px;
    height: 65px;
  }

}
