.header {
  display: flex;
  position: relative;
  justify-content: center;
}

.header__border {
  @media (min-width: $tablet-width) {
    border-top: 1px solid $black-shadow;
  }
}

.header__nav {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  background-color: $white;
  top: 82px;
  left: -30px;
  right: -30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    z-index: 1;
  }
}

.header__nav--show {
  display: flex;
}

@media (min-width: $tablet-width) {
  .header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: static;
    max-height: 89px;
    max-width: 1150px;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 37px;
  }

  @media (min-width: $desktop-width) {
    gap: 71px;
  }
}

.header__list--search-cart {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    order: -1;
    justify-content: flex-end;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    order: 0;
  }
}

.header__list--spipping {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.header__list--new-sell {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 64px;
  }
}

@media (min-width: $desktop-width) {
  .header__list--catalog-modal {
    margin-right: auto;
  }
}

.header__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding: 27px 42px 26px 105px;
  border-top: 1px solid $whisper;
  background-repeat: no-repeat;
  background-position: 30px 50%;

  &:hover {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 27px 0 33px;
    border: none;
    font-size: 15px;
  }

  @media(min-width: $desktop-width) {
    padding: 35px 0 33px;
  }
}

@media (min-width: $desktop-width) {
  .header__item--before {
    position: relative;
  }

  .header__item--before::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 88px;
    background-color: $black-shadow;
    right: -37px;
    top: 0;
  }
}


.header__link {
  position: relative;
  padding: 15px 0;
}

.header__link--upper-text {

  @media (min-width: $desktop-width) {
    font-size: 17px;
  line-height: 1.41;
  }
}

.header__item--search {

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 28px 0 26px 26px;
  }
}

@media (min-width: $tablet-width) {
  .header__item--search::after {
    position: absolute;
    width: 1px;
    height: 88px;
    background-color: $black-shadow;
    content: "";
    top: 0;
    right: -11px;
  }

  .header__item--search::before {
    position: absolute;
    width: 1px;
    height: 88px;
    background-color: $black-shadow;
    content: "";
    top: 0;
    left: -49px;
  }
}

.header__item--cart {
  @media (min-width: $tablet-width) {
    padding: 32px 3px 26px 94px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 0 26px 94px;
  }
}

.header__item--second {
  @media (min-width: $desktop-width) {
    padding: 19px 0 26px;
    font-size: 15px;
    left: 24px;
  }
}

.header__icon-svg {
  position: absolute;
  top: 19px;
  left: -42px;
  fill: $black-opacity;

  &:hover {
    fill: $green;
  }

  &:disabled {
    fill-opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 8px;
    left: -42px;
  }
}

.header__icon-svg--cart {
  width: 21px;
  height: 18px;
  top: 17px;
  left: -45px;

  @media (min-width: $tablet-width) {
    top: 18px;
    left: -57px;
  }
}

.header__item--cart:hover .header__icon-svg--cart {
  fill: $green;
}

.header__item--spipping-text {
  font-family: $main-font;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 14px;
  }
  @media (min-width: $tablet-width) {
    padding-top: 22px;
  }

}

@media (min-width: $tablet-width) {
  .header__span {
    display: none;
  }
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 31px 3px 31px;
  // border-bottom: 1px solid $whisper;

  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: auto;
    z-index: 2;
    left: 17px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.header__logo-svg {
  display: block;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 145px;
    height: 71px;
  }
}
