@import "./blocks/general/color.scss";
@import "./blocks/general/variables.scss";
@import "./blocks/general/visually-hidden.scss";
@import "./blocks/general/fonts.scss";
@import "./blocks/body/body.scss";
@import "./blocks/body/page.scss";
@import "./blocks/catalog/main-catalog.scss";
@import "./blocks/catalog/product-item.scss";
@import "./blocks/catalog/production-process.scss";
@import "./blocks/catalog/catalog.scss";
@import "./blocks/index/contacts.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/form/filter.scss";
@import "./blocks/form/form-order.scss";
@import "./blocks/form/form-wrapper.scss";
@import "./blocks/header/header.scss";
@import "./blocks/header/nav-toggle.scss";
@import "./blocks/index/about.scss";
@import "./blocks/index/product-week.scss";
@import "./blocks/index/reviews.scss";
@import "./blocks/logo/logo.scss";
@import "./blocks/main/main-container.scss";
@import "./blocks/main/main-nav.scss";
@import "./blocks/main/main-title.scss";
@import "./blocks/form/modal.scss";
@import "./blocks/section/section-title.scss";
@import "./blocks/section/section.scss";
@import "./blocks/general/button.scss";
