.button {
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $grey;
  width: 260px;
  padding: 16px 0;
  border: solid 2px $grey;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $grey;
    color: $white;
  }

  &:disabled {
    opacity: 0.3;
  }
}
