.button {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  width: 260px;
  padding: 16px 0;
  border: solid 2px #444444;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:disabled {
    opacity: 0.3;
  }
}
