$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.2);
$black-shadow: rgba(0, 0, 0, 0.1);
$green:#63d1bb;
$dark-green:#56c3b2;
$border-green: #62d1ba;
$grey: #444444;
$white-smoke: #f1f1f1;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.9);
$whisper :#ececec;
$background-index: #f9f9f9;
