.footer__color {
  background-color: $white-smoke;
  width: 100%;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1150px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 143px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      padding: 0 50px;
    }
  }
}

.footer__list {
  padding: 27px 0;
}

.footer__logo {
  @media (min-width: $tablet-width) {
    margin-right: 122px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 313px;
  }
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 27px;
  font-size: 19px;
  line-height: 0.94;
  flex-wrap: wrap;
}

.footer__social-link .footer__icon-logo-academy {
  fill: $green;
  width: 27px;
  height: 34px;
}

.footer__social-link:hover .footer__icon-logo-academy {
  fill: $green-academy-hover;
}

.logo__icon {
  display: none;
  fill: $black;
  opacity: 1;

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    fill: $green;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.footer__list--row {
  display: flex;
  gap: 33px;

  @media (min-width: $tablet-width) {
    margin-right: 127px;
  }

  @media (min-width: $desktop-width) {
    gap: 32px;
    margin-right: 318px;
  }
}

.footer__icon-svg {
  fill: #231f20;

  &:hover {
    fill: $green;
  }

  &:disabled {
    opacity: 0.3;
  }
}
